h1 {font-size: 20px;}

#addForm {
  text-align: center;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#addButton {
  text-align: center;
  color: green;
  font-size: 16px;
}

#clearButton {
  text-align: center;
  color: red;
  font-size: 16px;
}

#list {
  list-style-type: circle;
}